<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>602509892472-tphasg5od5mk41ev60la9ovmvpie9bp8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.602509892472-tphasg5od5mk41ev60la9ovmvpie9bp8</string>
	<key>API_KEY</key>
	<string>AIzaSyBrgXrFesuE6UKaCf6VB6ua7bQynLGWyaA</string>
	<key>GCM_SENDER_ID</key>
	<string>602509892472</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.emma.DNL.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>datenightlive-81243</string>
	<key>STORAGE_BUCKET</key>
	<string>datenightlive-81243.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:602509892472:ios:2a0f49187f670a3de9468d</string>
</dict>
</plist>